.rating {
  width: 100vw;
  height: 100vh;
  background: #131518;

  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 412px;
    height: 416px;

    background: radial-gradient(
      98.96% 98.96% at 50% 0%,
      #232a34 0%,
      #181e27 100%
    );
    border-radius: 30px;
  }
}

@media only screen and (max-width: 376px) {
  .rating {
    .wrapper {
      width: 327px;
      height: 360px;
    }
  }
}
